{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@emotion",
    [
      "module-resolver",
      {
        "root": ["."],
        "extensions": [".ts", ".tsx", ".js", ".jsx"],
        "alias": {
          "@src": "./src",
          "@components": "./src/components",
          "@pages": "./src/pages",
          "@hooks": "./src/hooks",
          "@shared": "./src/shared",
          "@common": "./src/common",
          "@service": "./src/service",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}
